@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

:root {
  --yellow: #f8ef02;
  --cyan: #00ffd2;
  --red: #ff003c;
  --blue: #136377;
  --green: #446d44;
  --purple: purple;
  --black: #000;
  --white: #fff;
  --dark: #333;
  --bronze: #cd7f32;
  --silver: #c0c0c0;

  /*theme variables*/
  --dark: #001517;
  --dark-gray: #002b2e;
  --medium-gray: #004044;
  --light-gray: #00565c;
  --yellow: #f2fb06;
  /*theme variables*/

  --linear-gradiant1: #004044;
  --linear-gradiant2: #001517;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Oxanium" !important;
  background-color: var(--dark) !important;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
  background: transparent;
}

body.nav-open {
  overflow: hidden;
}

a {
  text-decoration: none !important;
  /* color: black !important; */
}

section {
  top: -3.5vh;
}


/*Navbar*/
.navbar-section {
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: #00000084;
  padding-top: 1rem;
  text-align: center;
  top: 0vh;
}

/*.logo{
  width: 40%;
  display: inline-block;
  left: 0;
}
.logo img{
  width: 10rem;
}*/

.nav-menu {
  display: inline-block;
  vertical-align: middle;
  right: 0;
}

.nav-menu.active {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  backdrop-filter: blur(10px);
  background-color: #00000084;
  z-index: 5;
  animation: slideNav 0.2s ease-in-out;
}

.nav-menu .nav-toggler {
  height: 40px;
  width: 45px;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 20px;
  display: none;
  z-index: 10;
  transition: all 0.3s ease;
}

.nav-menu .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--yellow);
  display: inline-block;
  position: relative;
  top: -2px;
  left: -7px;
}

.nav-menu .nav-toggler.open span {
  background-color: transparent;
}

.nav-menu .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--yellow);
  position: absolute;
  top: -6px;
  left: 0;
}

.nav-menu .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.nav-menu .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--yellow);
  position: absolute;
  top: 6px;
  left: 0;
}

.nav-menu .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

.nav-menu li {
  display: inline;
  padding: 1rem;
  white-space: nowrap;
}

.nav-list.active {
  display: flex;
  flex-direction: column;
}

.nav-list li a {
  color: #fff !important;
}

@keyframes slideNav {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.nav-item:hover {
  background-color: rgb(160, 160, 0);
  transition: 0.4s;
}

/*timer*/

.timer-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 5px;
  margin-top: 57vh;
  align-items: center;
  color: yellow;
  z-index: 1;
  position: absolute;
}

.timer-box {
  background-color: #0fefff71;
  backdrop-filter: blur(10px);
  width: fit-content;
  padding: 1rem;
}

.timer-box.cyber-tile {
  padding: 0;
}

.countdown-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.timer-div {
  display: inline-block;
  padding: 0.5rem;
}

.timer-div.cyber-tile {
  background-color: var(--blue);
  color: var(--yellow);
  width: 70px;
  height: fit-content;
  padding: 0.5rem;
}

.timer-div.cyber-tile h1 {
  font-size: 28px;
}

.timer-div p {
  margin-bottom: 0;
  font-size: 16px;
}

.timer-caption {
  font-size: 25px;
  width: fit-content;
  margin: 0.5rem auto;
}

.countdown {
  padding-bottom: 0;
  margin: 0;
  color: red;
  vertical-align: middle;
}

.countdown p {
  padding-top: 1rem;
  vertical-align: middle;
}

/*hero*/

.parallax-container {
  top: 0;
  position: relative;
  height: 100vh;
  /* Adjust the height as needed */
  overflow: hidden;
}

.parallax-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* Full viewport height for each layer */
  background-size: cover;
  background-position: center;
  will-change: transform;
  /*transition: transform 0.1s ease-out; /* Smooth scrolling */
}

.background-layer {
  background-image: url("back.png");
}

.middle-layer {
  background-image: url("DESKTOP\ website.png");
  scale: 0.8;
}

.front-layer {
  background-image: url("front.png");
}

.buttons {
  position: absolute;
  top: 85vh;
  z-index: 1;
  text-align: center;
  width: 100%;
}

.register {
  margin: 1rem;
}

.cyber-title-box {
  display: flex;
  align-items: center;
  position: relative;
  background: url("title-box.svg") no-repeat;
  background-size: contain;
  height: 70px;
  padding: 1rem;
  width: fit-content;
  color: var(--yellow);
}

.about-seperator {
  z-index: 1;
  top: -3.5vh;
  height: 0.25rem;
  position: absolute;
}

.about {
  display: inline-block;
  /* background-image: url("dots.svg"); */
  background: linear-gradient(#004044, #001517);
  padding: 2.5rem;
  padding-top: 0;
  align-content: center;
  background-position: center;
  /* Center the image */
  background-size: cover;
}

.about-img {
  width: 100%;
  padding: 1rem;
  vertical-align: middle;
}

.about-picture {
  display: inline-block;
}

.about-info {
  display: inline-block;
  text-align: justify;
  justify-content: center !important;
  padding: 1rem;
  width: 100%;
}

.about-us,
.about-stats {
  margin-left: 2rem;
}

.about-us h2 {
  width: 80vw;
}

.about-info p {
  padding: 1rem;
  width: 95%;
  color: #ffffff;
}

.about-info p.desc-container {
  max-width: 100vw !important;
  color: #fff;
}

.about-stats-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.stat-info {
  margin: 1rem;
  padding: 1rem !important;
  background-size: contain;
  width: 12rem;
  min-height: fit-content;
  box-shadow: inset 8px 7px 20px 3px rgb(0, 0, 0) !important;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.stat-info:hover {
  scale: 1.05;
  rotate: 2deg;
  filter: drop-shadow(2px 2px 5px var(--red));
  box-shadow: inset -3px 3px 20px 3px rgb(0, 0, 0) !important;
  background-color: var(--blue) !important;
  color: var(--yellow) !important;
}

.stat-info:nth-child(even):hover {
  rotate: -2deg;
}

.day {
  background-color: var(--black);
  color: #fff;
  border: 3px solid #fff;
  left: 2.5rem;
  padding: 0.5rem;
  display: inline;
}

.timeline {
  padding: 40px 0px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 40px;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 40px;
  left: 65px;
  width: 3px;
  height: calc(100% - 120px);
  background: #fff;
}

.timeline .column {
  margin: 40px 40px 40px 120px;
  padding: 0.5rem 1rem;
  width: 60%;
  border-radius: 1rem;
}

.timeline .column .title h3 {
  color: #fff;
  letter-spacing: 3px;
}

.timeline .column .title h3:before {
  content: "";
  position: absolute;
  left: -4.5rem;
  top: 25px;
  width: 1rem;
  height: 1rem;
  background: #000;
  border: 3px solid #fff;
}

.timeline .column .title h6 {
  /* margin-top: -10px; */
  color: #fff;
}

.timeline .column .description p {
  font-size: 13px;
  line-height: 20px;
  margin-left: 20px;
  margin-top: 10px;
  color: #fff;
}

.timeline .column .description {
  border-left: 1px solid #ffffff;
}

.main {
  width: 80%;
  margin-left: 10%;
  margin-top: 80px;
}

.main h1 {
  font-size: 80px;
  line-height: 60px;
}

.main p {
  font-size: 13px;
  line-height: 20px;
  text-align: right;
}

.timeline-h {
  padding: 2.5rem 10rem;
  padding-bottom: 0;
  margin-bottom: -20rem;
}

.prize-section {
  background-image: url("lines.svg");
  padding: 2.5rem;
  padding-top: 0;
  align-content: center;
  background-position: center;
  /* Center the image */
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.prize-pool::before {
  content: '';
  background-image: url('prize-upper-element.svg') !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  height: 60px;
  width: 100%;
  position: relative;
  color: #fff;
  margin-top: 1rem;
  scale: 0.8;
}

.prize-pool>h1.title-h1 {
  margin-bottom: 0px;
}

.prize-pool::after {
  content: '';
  background-image: url('prize-side-element.svg') !important;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  background-position: right;
  height: 100%;
  width: 100%;
  color: #fff;
  margin-top: -1rem;
  right: -2.5rem;
  scale: 1;
}

.prize-section h2 {
  text-align: center;
}

.prize-row {
  width: 100%;
  margin-top: 2rem;
}

.prize {
  margin: 1rem;
  padding: 1rem !important;
}

.prize-img {
  width: 65% !important;
  padding-top: 1rem;
}

.prize-row>.prize {
  background-image: url('box-frame.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--yellow);
  text-wrap: wrap;
}

.prize-row .prize img {
  transition: all 0.4s ease-in-out;
}

.prize-row .prize:hover img {
  filter: drop-shadow(2px 2px 3px var(--white));
  transform: rotateY(20deg) rotateX(-10deg);
  scale: 1.5;
}

.first-prize {
  top: -2rem;
  color: gold !important;
  transition: all 0.3s ease-in-out;
}

.first-prize:hover {
  top: -3rem;
  scale: 0.95;
  box-shadow: 5px 5px 5px var(--yellow) !important;
}

.other-prize:hover img {
  transform: rotateY(20deg) rotateX(-10deg);
  scale: 1.3 !important;
}

.other-prize {
  top: 2rem;
  transition: all 0.3s ease-in-out;
}

.other-prize:first-child {
  color: var(--silver);
}

.other-prize:last-child {
  color: var(--bronze);
}

.other-prize:hover {
  top: 1rem;
  scale: 0.95;
}

.additional-prize {
  transition: all 0.3s ease-in-out;
}

.additional-prize:hover {
  scale: 0.95;
}

.additional-prize:hover img {
  scale: 1.2 !important;
}

.extra-prize {
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  width: fit-content;
  background-color: #f8f0024f;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.extra-prize:hover {
  background-color: var(--light-gray);
  color: var(--yellow) !important;
  scale: 1.03;
}

.tracks-section h2 {
  text-align: center;
}

.tracks-section {
  padding: 2rem;
  padding-bottom: 5rem;
}

.track-start::after {
  content: '';
  background-image: url('track-element.svg') !important;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  bottom: 10rem;
  left: 2rem;
  height: 130px;
  width: 100%;
}

.track-start::before {
  content: '';
  background-image: url('track-element.svg') !important;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  bottom: 10rem;
  right: 2rem;
  height: 130px;
  width: 100%;
  transform: rotateY(180deg);
}

.track-end::after {
  content: '';
  background-image: url('track-element.svg') !important;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  top: 10rem;
  left: 2rem;
  height: 130px;
  width: 100%;
  transform: rotateX(180deg);
}

.track-end::before {
  content: '';
  background-image: url('track-element.svg') !important;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  top: 10rem;
  right: 2rem;
  height: 130px;
  width: 100%;
  transform: rotate(180deg);
}

.track-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  scale: 0.9;
}

.track-box {
  height: fit-content;
  margin: 0 0.5rem;
  box-shadow: inset -8px -3px 20px 3px rgb(0, 0, 0) !important;
  transition: all 0.3s ease-in-out;
}

.track-box>p>img {
  filter: drop-shadow(2px 2px 5px var(--light-gray));
}

.track-box img {
  transition: all 0.3s ease-in-out;
}

.track-box:hover {
  color: var(--yellow) !important;
  box-shadow: inset 3px -5px 20px 5px rgb(0, 0, 0) !important;
  background-color: var(--white) !important;
  scale: 1.05;
}

.track-box:hover img {
  scale: 1.15;
  filter: drop-shadow(2px 2px 3px var(--yellow));
}

.sponsor-section,
.judges-section,
.perks-section {
  padding: 2rem;
  padding-bottom: 3rem;
}

.sponsor-section .prize-row {
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.sponsor-section h3 {
  margin-top: 2rem;
}

.sponsor-box {
  margin: 1rem;
  height: 15rem;
  width: fit-content;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, var(--linear-gradiant1), var(--linear-gradiant2)) !important;
  transition: all 0.3s ease-in-out;
}

.sponsor-box:hover {
  transform: scale(1.05);
  color: var(--yellow) !important;
  background: linear-gradient(165deg, var(--linear-gradiant1), var(--linear-gradiant2)) !important;
}

.sponsor-box h6,
.sponsor-box h5 {
  margin-top: 0;
  text-align: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.sponsor-img {
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1rem;
  padding: 0.25rem;
  height: 8rem !important;
  width: 8rem !important;
  transition: all 0.3s ease-in-out;
}

.sponsor-box:hover img {
  filter: drop-shadow(2px 2px 3px var(--yellow));
}

.sponsor-offer {
  margin: 4rem;
}

.sponsor-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.perks-section .prize-row {
  padding: 0 2rem !important;
}

.perks-container {
  flex-direction: column;
  justify-content: space-between !important;
  flex-wrap: wrap;
  text-wrap: wrap;
  margin: 1rem;
  width: 18rem !important;
  text-align: center;
  padding: 1rem !important;
}

.perks-container p {
  height: 8rem;
  max-width: 15rem;
  place-self: center !important;
  align-content: center;
}

.perks-container img {
  max-width: 8rem;
  filter: drop-shadow(2px 2px 4px var(--light-gray));
}

.judges-section {
  background: linear-gradient(#001517, var(--blue));
}

.social-links {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly !important;
}

.social-links i {
  margin: 0.5rem;
  color: var(--dark-gray);
  transition: all ease-in-out 0.2s;
}

.social-links i:hover {
  color: var(--yellow);
  scale: 1.05;
}

.judges-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  background: var(--blue);
  border-radius: 16px;
  width: 14rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid var(--blue);
  place-self: start;
  min-height: 20rem;
}

.judges-img {
  height: 10rem;
  width: fit-content;
  filter: drop-shadow(0px 0px 10px var(--white));
}

.desc {
  height: 2.5rem;
  /* background-color: var(--red) !important; */
  height: fit-content;
}

.desc h6,
.desc p {
  margin-bottom: 3px !important;
}

.desc p {
  font-size: 0.75rem;
  text-align: center;
  color: var(--white) !important;
}

.judges-profile {
  margin: 1.5rem 1rem 0.5rem;
}

.judges-profile::after {
  content: '';
  /* background-image: url('box-frame.svg'); */
  background-position: center;
  background-size: contain;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  bottom: 0.5rem;
  height: 100%;
  scale: 1.05;
}

.judges-container .social-links{
  display: none !important;
}

.footer-content {
  min-height: 40vh;
  background-color: var(--black);
  display: grid;
  justify-content: center;
  grid-template-columns: 25% 50% 25%;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
}

.footer-logo img {
  height: 4.5rem;
  margin-bottom: 2rem;
}

.link-heading h5 {
  font-weight: 900;
  margin-bottom: 1.25rem;
}

.footer-link {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr 1fr;
  flex-wrap: wrap;
  padding: 0.5rem 2rem;
}

.footer-link p {
  color: var(--white);
  font-weight: 700;
}

.footer-link a {
  color: #ffffffab;
  text-decoration: none;
  font-weight: 700;
}

.link-heading {
  margin-top: 1rem;
}

.footer-location {
  padding: 0.5rem;
}

.footer-location img {
  width: 100%;
  padding-left: -2rem;
}

.location-container {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.location-container img {
  display: block;
  width: 100%;
}

.location-container iframe {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 85%;
  border: 0;
}

.footer-divider {
  width: 90vw;
  display: block;
  margin: 0 auto;
}

.orgainsing-partner {
  margin-top: 2rem;
}

.organiser-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
}

.organiser-logo img {
  height: 4.5rem;
  margin: 1rem;
  height: 6rem;
  border-radius: 3px;
}

.copyright {
  color: #ffffffab;
  padding: 2rem;
}

@media screen and (max-width: 1440px) {
  .d-flex {
    flex-wrap: wrap;
  }

  .about {
    background-size: contain;
  }
}

@media screen and (max-width: 768px) {

  .title-h1,
  h1 {
    font-size: 3rem !important;
  }

  .title-h2,
  h2 {
    font-size: 2rem !important;
  }

  .title-h3,
  h3 {
    font-size: 1.25rem !important;
  }

  .title-h4,
  h4 {
    font-size: 1rem !important;
  }

  .title-h5,
  h5 {
    font-size: 0.9rem !important;
  }

  .about {
    padding: 1.5rem;
  }

  .cyber-title-box {
    height: 50px;
    margin-left: -10px;
  }

  .cyber-tile-clip-small {
    width: 11rem !important;
    height: 11rem !important;
    margin: 0;
  }

  .about-stats-content {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    place-self: center;
  }

  .cyber-h::after {
    width: calc(45% + 10px) !important;
  }

  .stat-info>p {
    padding: 0;
  }

  .stat-info>p>svg {
    width: 4rem;
  }

  .stat-info h2 {
    margin-bottom: 0;
  }

  .timeline .column {
    margin: 2rem 7rem;
  }

  .timeline .column .title h3:before {
    left: -3.7rem;
    top: 1rem;
  }

  .timeline h6 {
    text-align: left !important;
  }

  .prize-pool::before {
    width: 80%;
  }

  .prize-row {
    width: 80vw;
    place-self: center;
  }

  .prize-row div {
    justify-self: center !important;
  }

  .tracks-section {
    padding-bottom: 3rem;
  }

  .track-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    place-self: center;
    scale: 1;
  }

  .track-box.cyber-tile-clip-small {
    width: 9rem !important;
  }

  .track-start::after,
  .track-start::before,
  .track-end::after,
  .track-end::before {
    width: 100%;
    height: 80px;
  }

  .track-start::after,
  .track-end::after {
    left: 3rem;
  }

  .track-start::before,
  .track-end::before {
    right: 3rem;
  }

  .track-start::after,
  .track-start::before {
    bottom: 8rem;
  }

  .track-end::after,
  .track-end::before {
    top: 8rem;
  }

  .sponsor-section h3 {
    font-size: 1.8rem !important;
  }

  .sponsor-box,
  .cyber-tile-small {
    width: 11rem !important;
  }

  .sponsor-box {
    height: fit-content;
  }

  .sponsor-section h3.cyber-title {
    width: 100vh;
    text-align: center;
  }

  .sponsor-box h4 {
    font-size: 1.5rem !important;
  }

  .sponsor-img {
    height: 7rem !important;
    width: 7rem !important;
  }

  .perks-section>div {
    width: 95vw;
    place-self: center;
    text-align: center;
  }

  .perks-section>div h1,
  .judges-section>div h1 {
    font-size: 2.5rem !important;
    text-align: center;
  }

  .perks-container {
    width: 18rem !important;
  }

  .judges-section .prize-row {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    place-self: center;
    width: 90vw;
  }

  .judges-container {
    margin: 0.5rem;
  }

  .footer-logo img {
    height: 7rem;
  }

  .footer-content,
  .footer-location {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .footer-link {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0.5rem 1rem;
    place-self: center;
    height: fit-content;
    text-align: center;
  }

  .location-container iframe {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 94%;
    border: 0;
    border-radius: 5px;
  }
}

@media screen and (max-width: 576px) {
  .background-layer {
    background-image: url("back-m.png");
  }

  .middle-layer {
    background-image: url("MOBILE\ website.png");
    /* background-size: 200%; */
    scale: 1;
  }

  .front-layer {
    background-image: url("front-m.png");
  }

  .buttons {
    top: 70vh;
  }

  .navbar-section {
    background-color: transparent;
    padding-top: 0;
  }

  .nav-menu .nav-toggler {
    display: block;
  }

  .nav-menu ul {
    display: none;
    margin-bottom: 0 !important;
  }

  .nav-list li {
    padding: 0.5rem;
    align-self: center;
  }

  .nav-list.active {
    padding: 1rem;
    margin-top: 2.5rem;
  }

  .timeline {
    width: 100%;
    margin-left: 0;
  }

  .timer-section {
    justify-content: space-evenly;
  }

  .timer-caption {
    font-size: 20px;
  }

  .timer-box.cyber-tile {
    width: 90vw;
  }
}


@media screen and (max-width: 426px) {

  p {
    font-size: 0.95rem;
  }

  .title-h1,
  h1 {
    font-size: 2.75rem !important;
  }

  .title-h2,
  h2 {
    font-size: 2rem !important;
  }

  .title-h3,
  h3 {
    font-size: 1.5rem !important;
  }

  .title-h4,
  h4 {
    font-size: 0.85rem !important;
  }

  .title-h5,
  h5 {
    font-size: 0.7rem !important;
  }

  .nav-list li.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, 0.135);
    padding: 1.5rem;
  }

  .nav-list li.nav-item:last-child {
    border-bottom: none;
  }

  li.cyber-tile {
    width: 80vw;
    --tile-edges: 0px !important;
    min-height: fit-content;
  }

  .parallax-container,
  .background-layer,
  .middle-layer,
  .front-layer {
    width: 100vw;
  }

  .timer-box.cyber-tile {
    max-width: 80vw;
    bottom: 5vh;
  }

  .timer-caption {
    padding-top: 1rem;
    margin: 0rem auto;
  }

  .countdown-box div {
    width: 20%;
    margin: 0.5rem !important;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75rem !important;
    flex-wrap: nowrap;
    top: 70vh;
    place-self: center;
  }

  .buttons button {
    padding: 1rem;
    text-wrap: nowrap;
    place-self: center;
  }

  .buttons button:first-child {
    width: 60vw;
  }

  .buttons button:last-child {
    width: 80vw;
  }

  .cyber-title-box {
    height: 40px;
    left: -11px;
  }

  .about-us h2 {
    left: -20px;
  }

  .about-info {
    padding: 0;
  }

  .about-info p {
    width: 100%;
  }

  .about-stats {
    margin-left: 0;
  }

  .stat-info {
    width: 10rem !important;
    height: 10rem !important;
    place-self: center;
    padding: 0.5rem;
  }

  .stat-info>p {
    margin-bottom: 0;
  }

  .stat-info>p>svg {
    margin-top: 0.25rem;
    width: 3rem;
  }

  .stat-info h2 {
    font-size: 1.75rem !important;
  }

  .prize-pool::after {
    width: 100%;
    height: 50%;
  }

  .prize-pool::before {
    width: 250%;
    margin-top: 0;
  }

  .prize p {
    margin-bottom: 0.2rem;
  }

  .prize-img {
    width: 75% !important;
    margin-bottom: 0rem;
  }

  .prize-section .prize-row {
    flex-wrap: nowrap;
  }

  .prize-row {
    width: 90vw;
  }

  .first-prize {
    top: -0.5rem;
  }

  .prize-section .prize-row:last-child {
    margin-top: 0.5rem;
  }

  .prize-section .prize-row .prize {
    margin: 0.5rem;
  }

  .prize-section h3 {
    font-size: 1rem !important;
    margin-bottom: 0.2rem;
  }

  .prize-section h4 {
    font-size: 0.75rem !important;
  }

  .prize-section h5 {
    font-size: 0.5rem !important;
  }

  .prize h2 {
    font-size: 1.25rem !important;
    text-wrap: nowrap;
  }

  .tracks-section .prize-row {
    justify-content: space-around;
    width: 90%;
  }

  .cyber-tile {
    width: 50%;
  }

  .cyber-h::after {
    height: 12.5px !important;
  }

  .about-stats-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .track-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .track-start.track-row {
    margin-top: 3rem;
  }

  .track-start::after {
    top: -3rem;
    left: 2.5rem;
    height: 60px;
  }

  .track-start::before {
    top: -3rem;
    right: 2.5rem;
    height: 60px;
  }

  .track-end {
    margin-top: 1rem;
  }

  .track-end::after {
    top: 21rem;
    left: 2.5rem;
    height: 60px;
  }

  .track-end::before {
    top: 21rem;
    right: 2.5rem;
    height: 60px;
  }

  .track-box {
    padding-bottom: 0;
  }

  .sponsor-section .prize-row.in-kind {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
  }

  .sponsor-box {
    padding-bottom: 0 !important;
    place-self: center;
    text-align: center;
    height: 10.5rem !important;
  }

  .prize-row.in-kind .sponsor-box {
    width: 90% !important;
  }

  .sponsor-box h5,
  .title-h5 {
    font-size: 1.2rem !important;
  }

  .sponsor-box h6,
  .title-h6 {
    font-size: 1rem !important;
    text-align: center !important;
  }

  .sponsor-offer {
    margin: 2rem 0;
  }

  .sponsor-line h2 {
    font-size: 1.45rem !important;
    width: fit-content;
    text-wrap: nowrap;
  }

  .sponsor-img {
    height: 5rem !important;
    width: 5rem !important;
  }

  .judges-section h2 {
    text-align: center;
  }

  .judges-section .prize-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content h5,
  h4 {
    font-size: 1.25rem !important;
  }
}

/*==================================
===========WALLPAPER.HTML===========
==================================*/

.wall-banner-img {
  width: 100%;
}

.cyber-h {
  color: #fff !important;
}