@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'refinery25';
  src: url('./fonts/Refinery-25-SemiBold.ttf') format('truetype');
}

@font-face{
  font-family: 'title-font';
  src: url('./fonts/Title-Font.ttf') format('truetype');
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@html {
  scroll-behavior: smooth;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities{
  .title-font {
    font-family: 'title-font', sans-serif;
    letter-spacing: 0.15rem;
  }
  .glitch {
    position: relative;
    color: white;
    font-size: 8rem;
    font-weight: bold;
    animation: glitch-animation 2s infinite;
  }
  
  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
  }
  
  .glitch::before {
    color: #fbff00;
    z-index: -1;
    animation: glitch-before 2s infinite;
  }
  
  .glitch::after {
    color: #00f0ff;
    z-index: -2;
    animation: glitch-after 2s infinite;
  }
  
  @keyframes glitch-animation {
    0%, 100% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(2px, -2px);
    }
    60% {
      transform: translate(-1px, 1px);
    }
    80% {
      transform: translate(1px, -1px);
    }
  }
  
  @keyframes glitch-before {
    0%, 100% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(2px, -2px);
    }
    40% {
      transform: translate(-2px, 2px);
    }
    60% {
      transform: translate(1px, -1px);
    }
    80% {
      transform: translate(-1px, 1px);
    }
  }
  
  @keyframes glitch-after {
    0%, 100% {
      transform: translate(0, 0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(2px, -2px);
    }
    60% {
      transform: translate(-1px, 1px);
    }
    80% {
      transform: translate(1px, -1px);
    }
  }
  
}

/* Add this CSS to your file */
@keyframes slide-infinite {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-slide-infinite {
  display: flex;
  animation: slide-infinite 20s linear infinite; /* Adjust the duration here */
}










body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'refinery25', sans-serif;
  max-width: 100%;
  
}
