/* Background */
.background {
  width: 100%;
  background: black;
  
}

/* Organizer slider container */
.organizer-slider {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

/* Slider row (horizontal scrolling left) */
.slider-row {
  display: flex;
  gap: 20px;
  animation: scroll-left 25s ease-in-out infinite;
  
}

/* Image inside slider item */
.slider-item img {
  min-width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Name text inside slider item */
.slider-item span {
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

/* Styling for the slider items */
.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto; /* Flexible sizing */
  min-width: 200px;
  max-width: 300px;
  height: 300px;
  padding: 20px;
  background: linear-gradient(135deg, #4d470e, #1e2124 , #1e2124);
  color: #fff;
  border-radius: 15px;
  box-shadow: inset 8px 8px 15px rgba(0, 0, 0, 0.1),
              inset -8px -8px 15px rgba(0, 0, 0, 0.492),
              0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 5px black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Hover effect */
.slider-item:hover {
  transform: scale(1.05); /* Slight zoom */
}


/* Profile picture styling */
.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #ffcc00; /* Yellow border */
  margin: 0 auto 10px;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Profile name styling */
.profile-name {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

/* Social icon styling */
.social-icon {
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Adjust to fit the SVG */
  height: 50px;
}
.social-icon svg {
  width: 25px; /* Set an appropriate size */
  height: 25px;
  /* margin-top: 10px; */
  fill: #1e2124;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(93, 93, 93);
}


/* Keyframes for scrolling left */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}





/* Slider container for reverse scrolling */
.slider-container.reverse .slider {
  gap: 20px;
  margin: 1rem;
  animation: scroll-right 35s ease-in-out infinite;
}

/* Slider basic styling */
.slider {
  display: flex;
  width: max-content;
  /* animation: scroll-left 30s ease-in-out infinite; */
}

/* Keyframes for scrolling right */
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}